<%- include ('../partials/header.ejs') %> <%- include ('../partials/navbar.ejs')
%>

<div class="container">
  <hr />
  <div class="card mt-5">
    <div class="card-header">
      <h2>Nova Transação</h2>
    </div>
    <div class="card-body">
      <form action="/transactions/create" method="POST">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">R$</span>
          </div>
          <input type="number" class="form-control" name="amount" step=".01" />
        </div>
        <textarea
          name="comment"
          class="form-control"
          cols="30"
          rows="5"
        ></textarea>
        <select name="category" class="form-control mt-3">
          <% categories.forEach((category) => { %>
          <option value="<%= category.id %>"><%= category.title %></option>
          <% }) %>
        </select>
        <button class="btn btn-success btn-block mt-3" type="submit">
          Confirmar Transação
        </button>
      </form>
    </div>
  </div>
</div>

<%- include ('../partials/footer.ejs') %>
